.text-center {
    text-align: center;
}

.curarthbar {
    width: 80%;
    height: 40px;
    background-color: darkgray;
    margin: auto;
    transition: width 500ms;
    font-size: 22px;
    border-radius: 10px;
}

.controls, .log {
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 6px #eee;
}

.turno {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}

.log ul {
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
}

.log ul li {
    margin: 5px;
    text-align: right;
    padding:5px;
}

.log ul .player-turno {
    color: #eee;
    background-color: #3FB984;
}

.log ul .monster-turno {
    color: #eee;
    background-color: #31475E;
}

button {
    font-size: 20px;
    color: white;
    background-color: #eee;
    padding: 12px;
    box-shadow: 0 1px 1px black;
    margin: 10px;
}

#empezar-partida {
    background-color: darkgray;
}

#empezar-partida:hover {
    background-color: gray;
}

#atacar {
    background-color: #1A7670;
}

#atacar:hover {
    background-color: #1A7690;
}

#ataque-especial {
    background-color: #153A38;
}

#ataque-especial:hover {
    background-color: #153A58;
}

#curar {
    background-color: mediumseagreen;
}

#curar:hover {
    background-color: seagreen;
}

#rendirse {
    background-color: #c7c7c7;
}

#rendirse:hover {
    background-color:darkgray;
}