<!DOCTYPE html>
<html>
   <head>
      <title>Asesino de Monstruos</title>
      <script src="https://npmcdn.com/vue/dist/vue.js"></script>
      <link rel="stylesheet" href="css/foundation.min.css" />
      <link rel="stylesheet" href="css/app.css" />
      <script src="https://kit.fontawesome.com/7e69a7bbf0.js"></script>
   </head>
   <body style="background-color: lightyellow;">
      <div id="app">
         <section class="row">
            <div class="small-6 columns">
               <h1 class="text-center"><i class="fas fa-user-graduate fa-5x"></i></h1>
               <div class="curarthbar">
                  <div
                     class="curarthbar text-center"
                     style="background-color: #3FB984; margin: 0; color: white"
                     :style="{width: saludJugador + '%'}">
                     {{ getSalud(saludJugador) }}
                  </div>
               </div>
            </div>
            <div class="small-6 columns">
               <h1 class="text-center"><i class="fab fa-vuejs fa-5x"></i></h1>
               <div class="curarthbar">
                  <div
                     class="curarthbar text-center"
                     style="background-color: #31475E; margin: 0; color: white"
                     :style="{width: saludMonstruo + '%'}"
                  >
                     {{ getSalud(saludMonstruo) }}
                  </div>
               </div>
            </div>
         </section>
         <section class="row controls" v-if="!hayUnaPartidaEnJuego">
            <div class="small-12 columns">
               <button id="empezar-partida" @click="empezarPartida()">CURSAR PNT2</button>
            </div>
         </section>
         <section class="row controls" v-else>
            <div class="small-12 columns">
               <button id="atacar" @click="atacar()">ESTUDIAR</button>
               <button id="ataque-especial" @click="ataqueEspecial">HACER TPS</button>
               <button id="curar" @click="curar()">DESCANSAR</button>
               <button id="rendirse" @click="terminarPartida">ABANDONAR CURSADA</button>
            </div>
         </section>
         <section class="row log" v-if="turnos.length > 0">
            <div class="small-12 columns">
               <ul>
                  <li
                     v-for="(turno,index) in turnos"
                     :class="cssEvento(turno)"
                     :style="{'text-align': turno.esJugador?'left':'right','opacity':index <=1?1:0.5}"
                  >
                     {{ turno.text }}
                  </li>
               </ul>
            </div>
         </section>
      </div>
      <script src="app.js"></script>
   </body>
</html>
